.menu {
  text-align: center;
}
.menu ul {
  list-style: none; 

}
.menu li {
  display: inline-block;
  margin-left: 10px;
}
.menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #7F101A; 
}
.menu a:hover {
  color: red;
  text-decoration: underline;
}
